body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 61, 88);
    color: #fffbfb;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffccd5;
}

header h1 {
    font-size: 2.5em;
    color: #ff6f91;
    margin: 0;
}

.video-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

iframe {
    width: 80%;
    height: 450px;
    border: none;
    border-radius: 10px;
}

.photo-gallery {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 15px;
}

.photo {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: 200%;
    object-fit: cover;
}

.fashion{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

p{
   margin: 50px;
   font-size: 20px;
}